body {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  background-color: #fdfbf0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

#contenedor-sala {
  border: 2px solid #333;
  padding: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 60%;
  height: 60%;
  background-color: white;
}

#contenedor {
  display: flex;
  gap: 20px;
}
#armario {
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
  width: 150px;
  height: 400px;
  padding: 2%;
  gap: 1px;
  text-align: center;
}
#muñeco {
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
  padding: 2%;
  gap: 1px;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 400px;
  background-image: url("../images/muñeco2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.parte-cuerpo {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid rgb(212, 212, 212);
  width: 150px;
  height: 400px;
}
.parte-cuerpo.sombreada-mal {
  background-color: rgb(255, 25, 0, 0.2);
}
.parte-cuerpo.sombreada-bien {
  background-color: rgb(4, 255, 0, 0.2);
}

.prenda {
  border-radius: 5px;
  border: 2px solid rgb(150, 150, 150);
  height: 130px;
}

#gorra1,
#zapatilla1 {
  height: 50px;
}

#infojuego {
  font-weight: 200;
  border: 2px solid #333;
  padding: 5%;
  text-align: left;
  background-color: rgb(231, 152, 231);
  border-radius: 5px;
}
#muñeco-vestido{
  height: 450px;
  display: none;
}
